body{
    overflow-x:hidden;
    overflow-y: hidden;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-image: url('forest bg.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center; 
    backdrop-filter: blur(5px);
}
.top{
    height: 50vh;
}

.beast{
    height: 40vh;
    position: relative;
}

.ground{
    bottom: 0vh;
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(#b59c7d, #604009);
    position: relative;
}